<EditForm Model="@prze" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Cena przedmiotu :</label>
        <div>
            <InputNumber @bind-Value="@prze.Przedmiot_Cena" />
            <ValidationMessage For="@(() => prze.Przedmiot_Cena)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Nazwa przedmiotu :</label>
            <div>
                <InputText @bind-Value="@prze.Przedmiot_Nazwa" />
                <ValidationMessage For="@(() => prze.Przedmiot_Nazwa)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Opis przedmiotu :</label>
            <div>
                <InputText @bind-Value="@prze.Przedmiot_Opis" />
                <ValidationMessage For="@(() => prze.Przedmiot_Opis)" />
            </div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Przedmiot prze { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Zapisz";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}